{% extends "base.html" %}
{% block title %}Create{% endblock title %}

{% block content %}
        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Job Post</h1>
            </div>
        </div>
        <!-- Header End -->


        <!-- Job Detail Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">

                        <div class="">
                            {% if applied %}
                                <div class="alert alert-success">Application submitted successfully!</div>
                            
                            {% else %}
                            <h4 class="mb-4">Post job here</h4>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                        {{form.company}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.email}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.website}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.contact_number}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.title}}
                                    </div>
                                    
                                    <div class="col-12 col-sm-6">
                                        Expiry:
                                        {{form.expiry}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.vacancy}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.salary}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        Location:
                                        {{form.location}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        Job Type:
                                        {{form.type}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.description}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.responsibility}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.qualification}}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{form.skills}}
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Post</button>
                                    </div>
                                </div>
                                {% if request.method == "POST" and form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %} 
                                        </ul>
                                    </div>
                                {% endif %}
                                
                                
                            </form>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->

{% endblock content %}
{% load static %}

