{% extends "base.html" %}
{% block title %}Thank you{% endblock title %}

{% block content %}
        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Job Posted</h1>
            </div>
        </div>
        <!-- Header End -->


        <!-- Job Detail Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">

                        <div class="">
                            <h4 class="mb-4">Job posted successfully</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->

{% endblock content %}
{% load static %}

