{% extends "base.html" %}
{% block title %}About{% endblock title %}

{% block content %}
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">Empowering You to Find the Best Job and Talent</h1>
                        <p class="mb-4">We bridge the gap between companies seeking top-notch talent and individuals searching for rewarding careers. Our platform is designed to connect the right skills with the right opportunities, fostering growth and success for both employers and job seekers.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Access to thousands of job opportunities</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Seamless and efficient hiring process</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Personalized recommendations for job seekers</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
{% endblock content %}

       